.jumbotron1{
    padding: 50px 17% 50px 17%;
    background-color: rgb(124, 86, 185);
    color: white;
}

.div1{
    margin: 0 17% 0 17%;
}

.jumbotron2 > div > div {
    background-color: rgba(255, 255, 255, 0.8);
    margin:0 16% 0 16%;
    color: black;
    padding: 40px 20px 40px 20px ;
    position: absolute;
} 

.button {
    background-color: rgb(124, 86, 185);
    padding: 8px 15px 8px 15px;
    color: white;
}

.searchBox{
    min-width: 80%;
    padding: 8px 13px;
}

.searchBt {
    min-width: 8%;
    margin-left: 5px;
    padding: 8px 40px;
    color: white;
    background-color: rgb(124, 86, 185);
}

.jumbotron3{
    background-color: rgb(255,238,230);
    padding: 80px 17% 50px 17%;
}