.jumbotron1{
    padding: 0 17% 0 17%;
}

.div1{
    margin: 0 17% 0 17%;
}

.jumbotron2 > div > div {
    background-color: rgba(255, 255, 255, 0.8);
    margin:0 16% 0 16%;
    color: black;
    padding: 40px 20px 40px 20px ;
    position: absolute;
} 