.icon{
    min-height: 40px;
    min-width: 40px;
}

footer {
    background-color: rgb(43,15,66);
}

.nav1 {
    padding: 15px 15% 0px 15%;
    background-color: rgb(43,15,66);
    color: white;
    /* padding: 20px; */
}