.icon{
    min-height: 40px;
    min-width: 40px;
}

footer {
    background-color: rgb(43,15,66);
}

.navbar {
    padding: 0px 17% 0px 17%;
    background-color: rgb(124, 86, 185);
    color: white;
}

.navbar a {
    color: white;
}